/*======== Reset styles =========*/
html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0; padding: 0;
	background: #fff; 
	font-size: smaller;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

p {
	margin: 0 0 0 0;
}

figure {
	margin: 0 0 0 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

.align-center {
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	text-align: center;
}

.inline-block {
	display:-moz-inline-stack;
	display:inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.box-resize {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*======== General styles =========*/

::-webkit-scrollbar {
    display: none;
}

#content {
	width: 100%;
	height: 100%;
}

#items {
	display: block;
	width: 100000px;
	height: 100000px;
	background: url(../images/cat.jpg);
}

.item {
	position: absolute;
	width: 400px;
	height: 300px;
	z-index: 100;
}

.item.text {
	background: #c2c2c2;
	color: #000;
  	left: 50000px;
  	top: 50000px;
}

.item.image {
	background: blue;
  	left: 50500px;
  	top: 50000px;
}
