/*======== Reset styles =========*/
html, body {
	width: 100%;
	height: 100%;
}

body, textarea {
	margin: 0; padding: 0;
	background: #fff; 
	font-size: 18px;
  font-family: 'PT Serif', serif;
}

textarea {
	width: auto;
	height: auto;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

p {
	margin: 0 0 0 0;
}

figure {
	margin: 0 0 0 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

.align-center {
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	text-align: center;
}

.inline-block {
	display:-moz-inline-stack;
	display:inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.box-resize {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*======== General styles =========*/

.dropdown-menu {
  border-radius: 0;
}

::-webkit-scrollbar {
  display: none;
}

#content {
	width: 100%;
	height: 100%;
}

#items {
	width: 100000px;
	height: 100000px;
	background: url(../images/seamlesspaper3.jpg);
  position: relative;
}

.item {
	position: absolute;
  display: inline-block;
  background: url(../images/math-grid.jpg);
  background-size: 250px auto;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  padding: 1rem;
  z-index: 100;
}

.item-text .text {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.item-text textarea {
  border: 0;
  width: 100%;
  height: 100%;
  display: none;
  resize: none;
}

.item-text .ok-button {
  display: none;
}

.item.item-image {
  background: #fff;
}

.ok-button {
	position: absolute;
	top: 25px;
	right: -30px;
	z-index: 999;
	width: 30px;
	height: 30px;
	background: url(../images/done_icon.svg);
	background-size: 80% auto;
	background-position: top center;
	background-repeat: no-repeat;
	visibility: hidden;
}

.edit-button {
	position: absolute;
	top: 25px;
	right: -30px;
	z-index: 999;
	width: 30px;
	height: 30px;
	background: url(../images/edit_icon.svg);
	background-size: 80% auto;
	background-position: top center;
	background-repeat: no-repeat;
	visibility: hidden;
}

.delete-button {
	position: absolute;
	top: 0;
	right: -30px;
	z-index: 999;
	width: 30px;
	height: 30px;
	background: url(../images/exit_icon.svg);
	background-size: 80% auto;
	background-position: top center;
	background-repeat: no-repeat;
	visibility: hidden;
}

.item:hover .ok-button, .item:hover .edit-button, .item:hover .delete-button {
	visibility: visible;
}

.item-image img {
  width: 100%;
  height: 100%;
}

.item-image input {
  display: none;
  width: 100%;
}
