<!DOCTYPE html>
<html>
<head>
  <title>canvs.io</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/canvs.css') }}"/>
  <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/canvs.js') }}"></script>
</head>

<body>
  <div id="content">
    <div id="items">
      <div class="item text">1</div>
      <div class="item image">2</div>
    </div>
  </div>
</body>
</html>
