<!DOCTYPE html>
<html>
<head>
  <title>canvs.io</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/canvs.css') }}"/>
  <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/canvs.js') }}"></script>
</head>

<body>
  <div id="content">
    <div id="items">
      <div class="item text">
      <h1>
      Beer Ipsum
      </h1>
      <p> 
      	Aau bacterial abv; all-malt, " aerobic brewpub," chocolate malt. wort bitter cold filter carbonation. copper wort chiller amber brewpub additive scotch ale pitching; filter, hand pump, bock bitter! wort autolysis infusion mash tun malt copper specific gravity. shelf life abbey trappist, " barleywine pitching, brew." draft (draught) carbonation barleywine?
      </p>
      <p>	
				krug; barleywine abbey bottom fermenting yeast. degrees plato finishing hops hops real ale lagering hoppy alcohol kolsch. hops noble hops wit reinheitsgebot gravity final gravity gravity. degrees plato top-fermenting yeast shelf life hydrometer-- shelf life bacterial hydrometer. hydrometer infusion, goblet, conditioning tank heat exchanger. draft (draught), " cask, yeast barrel malt: priming wort." wort chiller imperial cask original gravity autolysis tulip glass primary fermentation. black malt bottle conditioning malt extract pilsner, bacterial.
			</p>
			</div>
      <div class="item image">2</div>
    </div>
  </div>
</body>
</html>
